@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TBC Contractica CAPS;
  src: url(./assets/fonts/bpg_arial_2009.ttf);
}

body {
  background-color: #eaeaea;
  width: 100vw;
  height: 100vh;
  color: #232323;
  overflow-x: hidden;
}
#app{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.astyle a,.astyle a:visited {
  color: cornflowerblue;
}

/*intro styling*/
.intro{
  width: 100%;
  height: 100%;
}
.carousel-inner{
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.item{
  background-image: url(./assets/images/introimage.png);
  background-size: 100% 100%;
  animation: logo 0.5s ease-in forwards;
  height: 100%;
  width: 100%;
  animation-play-state: running;
  z-index: 1000;
}
.text{
  margin-left: auto;
  animation: text 1s linear 0s;
  margin-right: auto;
  position: absolute;
  width: 498px;
  height: 179px;
  left: calc(50% - 498px/2);
  top: 444px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: lowercase;
  font-feature-settings: 'case' on;
  color: #232323;
}
.button1{
  -webkit-user-select: none;
  width: 498px;
  height: 179px;
  letter-spacing: 2px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: auto;
  position: relative;
  margin-top: auto;
  animation: button 1s 1;
}
.buttonText{
  font-family: monospace;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  width: 498px;
  height: 179px;
  z-index: -1;
}
@keyframes logo {
  to { margin-left: calc(50% - 50px) ;}
  to { margin-top: 15%;}
  to { width: 100px;}
  to { height: 100px;}
  to { border-radius: 50%; }
  to { background-image:url(./assets/images/logotest.png); }
}
.buttonText:hover{
  text-shadow: 2px 2px gray;
  cursor: pointer;
}
.text span{
  text-transform: uppercase;
  display: block;
}
@keyframes button{
  0%{
    color: #FE3B1F;
    margin-bottom: -60px;
  }
  30%{
    color: #FE3B1F;
    letter-spacing: 38px;
    margin-bottom: -60px;
  }
  100%{
    letter-spacing: 2px;
    margin-bottom: -60px;
  }
}
/*hide first page for intro*/

/*ANIMATION*/
.rectangle{
  position: absolute;
  background: #D6D16E;
  top: 25%;
  left: 11%;
  width: 75%;
  height: 12%;
  animation: squareAnimation 0.6s ease-out;
}

@keyframes squareAnimation{
  from {
    background: #D6D16E;
    top: 40%;
    left: 0;
    width: 10%;
    height: 10%;
  }
}
/*cricle for second page*/
.pageImage{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.red-ball{
  position: absolute;
  opacity: 100%;
  width: 20%;
  height: 26%;
  top: 30%;
  left: 13%;
  animation: circleAnimation 0.6s ease-out;
}
@keyframes circleAnimation{
  from {
    position: absolute;
    background: #D6D16E;
    top: 25%;
    left: 11%;
    width: 75%;
    height: 12%;
  }
}
/*star for third page*/
.star{
  position: absolute;
  width: 30%;
  height: 40%;
  bottom: 63%;
  left: 6%;
  animation: starAnimation 0.6s ease-out;
}
@keyframes starAnimation{
  from {
    position: absolute;
    width: 20%;
    height: 26%;
    bottom: 30%;
    border-radius: 50%;
    left: 13%;
    color: red;
  }
}
/*heart for third page*/
.heart{
  position: absolute;
  top: 10%;
  left: 13%;
  opacity: 70%;
  width: 30%;
  height: 25%;
  animation: heartAnimation 0.6s ease-out;;
}
@keyframes heartAnimation{
  from {
    opacity: 100%;
    width: 30%;
    height: 40%;
    bottom: 63%;
    left: 6%;
  }
}
/*thank you page*/
.text1{
  animation: thank-you 1s;
  letter-spacing: 30px;
}
@keyframes thank-you {
  0%{
    color: #232323;
  }
  30%{
    letter-spacing: 60px;
  }
  100%{
    letter-spacing: 30px;
  }
}
.left-star{
  width: 52px;
  height: 52px;
  left: 50px;
  top: 0;
  opacity: 0;
  animation: starUp 1s forwards;
  animation-delay: 1s;
}
.right-star {
  width: 33px;
  height: 33px;
  right: 50px;
  bottom: 0;
  opacity: 0;
  animation: starDown 1s forwards;
  animation-delay: 1s;
}
@keyframes starUp {
  from {
    opacity: 0;
  }
  to{
    top: -80px;
    opacity: 1;
  }
}
@keyframes starDown {
  from {
    opacity: 0;
  }
  to{
    bottom: -40px;
    opacity: 1;
  }
}
.appearAnimation{
  animation: inputPopUp 500ms ease-out;
}
@keyframes inputPopUp {
  from {
    margin-top: -10px;
    opacity: 0;
  }
  to{
    margin-top: 0;
    opacity: 1;
  }
}
/* CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}